* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #66cc66;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #916D66;
}

.btn {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 10vh;
    border-radius: 30px;
    margin-top: 20vh;
    cursor: pointer;
}

text {
    color: #fff;
    
}